.site-header {
	position: fixed;
	height: 64px;
	top: 0;
	width: 100%;
	z-index: 100;
	margin: 0;
	padding: 0;
	background-color: #fff;
	border-bottom: 1px solid #eee;

	.site-branding {
		display: inline-block;

		h1 {
			margin: 0;
			padding: 0;
			display: inline;
			line-height: 1.6;

			a {
				color: #666;
				font-size: 1.5rem;
				font-weight: 400;
				text-transform: uppercase;
			}

			a span {
				color: #399393;
			}
		}
	}

	.main-navigation {
		width: auto;
		float: right;
		line-height: 64px;

		li {
			margin-left: 10px;
			font-family: FontAwesome;
			font-size: 22px;
			color: #399393;
			margin-left: 15px;
		}
	}
}

.admin-bar .site-header {
	top: 32px;
}

@media only screen and (max-width: 782px) {
	.site-header {
		height: 44px;

		.main-navigation {
			line-height: 44px;
		}

		.site-branding {
			a.logo {
				margin: 6px 6px 0 0;
				width: 32px;
				height: 32px;
				border-radius: 16px;
			}

			h1 {
				line-height: 1.05;
				a {
					font-size: 1.05rem;
				}
			}
		}
	}

	.admin-bar .site-header {
		top: 46px;
	}
}
